.styled-header {
  font-size: 2.8rem; /* Adjust as needed */
  font-weight: bold;
  text-align: center;
}

/* Additional styling options */
.styled-header {
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

.App{
  margin: 0;
  padding: 0;
}
